.ls{
    background: #001030;
    color:white;
    height: 75vh;
}

.ls-top{
    padding: 20px;

}
.ls-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ls-nav .ls-logo{
    max-width: 140px;
}
.ls-nav .menu img{
    max-height: 20px;
    cursor: pointer;
}

.ls-search{
    background-color: #002670;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;

}

.ls-search img{
    max-height: 16px;
}

.ls-search input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 11px;
}

.ls-search input::placeholder{
    color: #c8c8c8;
}

.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;

}

.friends img{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.friends{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}

.friends div{
    display: flex;
    flex-direction: column;

}

.friends div span{
    color: #9f9f9f;
    font-size: 11px;
    
}
.friends:hover{
    background-color: #002670;
}
.friends:hover span{
    color: white;
}

.ls-nav .menu{
    position: relative;
    padding: 10px 0px;
}
.menu .sub-menu{
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: #002670;
    padding: 10px;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 120px;
    z-index: 10;
}

.sub-menu hr{
    border: none;
    height: 1px;
    background: #a4a4a4;
    margin: 8px 0px
}
.sub-menu .p{
    cursor: pointer;
}
.menu:hover .sub-menu{
    display: block;
}